h2 {
  font-size: 1.5em;
  margin-top: 10;
}
.manage-book {
	padding: 0;	
}
button {
  margin-top: 20px;
  background-color: #eee;
  border: none;
  padding: 3px 10px;
  cursor: pointer; cursor: hand;
}