h2 {
  font-size: 1.5em;
  margin-top: 10;
}
label {
  display: inline-block;
  width: 8em;
  color: #607D8B;
}
input {
  height: 1.5em;
  font-size: 1em;
}
button {
  margin-top: 20px;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  cursor: pointer; cursor: hand;
}